.rowbox {
    border-bottom: 1px dashed #ddd;
}
.srow {
    margin-right: 3%;
    margin-left: 20px;
}
.rowhead {
    line-height: 40px;
}
.tBox {
    padding-top: 12px;
}

.check {}
.clicktarget {
    display: inline;
    position: absolute;
    cursor: pointer;
    width: 25px;
}
.saptype {
    width: 170px;
}
.orderTwo {
    width: 30%;
}
.tbbox {
    padding-bottom: 10px;
}
.imgone {
    position: absolute;
    bottom: 12px;
    margin-left: -20px;
}
.osLine {
    margin: 0 5px;
}
.wlBtn {
    position: absolute;
    right: 10px;
}
.osLine:before {
    content: "";
    position: absolute;
    border-right: 1px solid #ddd;
    height: 20px;
    top: -14px;
}
.orderOne {
    width: 130px;
}
.customLeft {
    position: absolute;
    padding: 20px;
    left: 0px;
}
.customRight {
    width: 248px;
    position: absolute;
    right: 29px;
    margin-top: 50px;
}
.tBox {
    overflow-x: scroll;
}

.dataArea {
    margin-bottom: 50px;
}
.rowItem {
    padding: 10px;
    border-bottom: 1px dashed #ddd;
    cursor: pointer;
}
.rowItem:last-child {
    border: 0
}
.itemone {
    margin-right: 20px;
}
