.panelBox {
  border: 1px solid #ddd;
  background-color: white;
}
.panelIn {
  padding-top: 20px;
}

.panelContainer {
  padding: 12px;
  min-height: 40px;
}

.panelTitle {
  padding: 12px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.panelFooter {
    padding: 12px;
}

.pagePanel {
  background-color: white;
  padding: 20px 20px 0 20px;
  margin: 0 20px;
  margin-top: 20px;
  border: 1px solid #c9e2f1;
}

.bottom {
  padding-bottom: 0px;
}
