/**header**/

.headerView {
    background-color: white;
    border-bottom: 1px solid #ddd;
    height: 80px;
}
.headerView .logoBox {
    margin-left: 200px;
    margin-top: 10px;
    position: absolute;
}
.headerView .logoBox img {
    margin: 11px 25px;
}
.headerView .headerBars {
    position: absolute;
    top: 34px;
    right: 10px;
}
.headerView .headerBars .who {}
.headerView .headerBars .operator {
    color: gray;
}
.headerView .headerBars .operator>span {
    cursor: pointer;
    margin-left: 10px;
}

/**silderBox**/

.silderBox {}
.silderBox .menuItem {}
.silderBox .menuItem .menuTitle {
    color: #cad9ec;
    height: 45px;
    line-height: 45px;
    padding-left: 45px;
    cursor: pointer;
    border-left: 3px solid #3e4652;
}
.silderBox .menuItem .menuTitle * {
    color: #cad9ec;
}

.silderBox .menuItem .subMenus {}
.subMenus a {
    display: block;
    padding: 10px 0;
    padding-left: 45px;
    cursor: pointer;
    text-decoration: none;
    color: #cad9ec;
    border-left: 3px solid #3e4652;
}
.menuSubAction span {
    color: #cad9ec;
}

.menuSubAction a {
    display: block;
    padding-left: 45px;
    cursor: pointer;
    text-decoration: none;
    color: #cad9ec;
    height: 45px;
    line-height: 45px;
    border-left: 3px solid #3e4652;
}
.silderBox .menuItem .subMenus a:hover {
    background: #fe8f00;
    color: white;
    border-left: 3px solid #ea5404;
}
.menuicon {
    position: absolute;
    left: 10px;
}

.menuicon span {
  font-size: 28px;
}
.directicon {
    position: absolute;
    right: 20px;
}
.menuHeaderDesc {
    height: 160px;
}
.stationName {
    position: absolute;
    bottom: 14px;
    right: -25px;
}
.descIn {
    height: 90px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    position: absolute;
}
.drowItem {
    display: block;
    color: #cad9ec;
}
