.titlerow {
  margin-left: 38px;
  margin-top: 20px;
  border-left: 5px solid #ddd;
  padding-left: 10px;
    margin-bottom: 20px;
}

.itemList {
  border-top: 1px dashed #ddd;
  margin-bottom: 20px;
}

.btnrow {
  padding-left: 39px;
}

.closeone {
  margin-left: 10%;
cursor: pointer;
}
