.accountBox {}
.accountBox .accountTitleBox {
    background-color: white;
    /*padding: 15px 0;*/
}
.accountBox .accountTitleBox .itemone {
    width: 35%;
    padding-right: 10px;
    border-right: 1px solid #ddd;
    margin-right: 10px;
}
.accountBox .accountTitleBox .itemone:last-child {
    border: 0;
}
.accountBox .accountTitleBox .itemone .itemTitle {}
.accountBox .accountTitleBox .itemone .itemBox {}
.accountBox .accountTitleBox .itemone .itemBox .cash {
    font-size: 30px;
    margin-top: 4px;
}
.accountBox .accountTitleBox .itemone .itemBox .unit {
    margin-left: 9px;
}
.accountBox .accountTitleBox .accountTitleIn {
    max-width: 1024px;
}
.accountBox .accountTitleBox .searchBox {
    /*padding-left: 1%;
  padding-top: 30px;*/
}
.accountBox .tableBox {}
.accountBox .tableIn {
    overflow: scroll;
}
.backCash {
    position: absolute;
    right: 5%;
    bottom: 0;
}
.mintitle {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}
.cashText {
    color: #e7551e;
    margin-left: 5px;
    margin-right: 5px;
}
.tonedesc {
    margin: 0 10px;
}
.titledesc {
    border: 1px solid red;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 16px;
}
.badd {
    margin-left: 65px;
}
