.Box .leftBox {
    width: 20%;
    float: left;
}

.Box .rightBox {
    float: left;
    width: 79%;
    margin-left: 1%;
    overflow-x: auto;
}

.Box {
    overflow: hidden;
    width: 100%;
}

.attachInfo {
    clear: both;
    width: 100%;
}

.finalRow div {
        margin-bottom: 5px;
}