@charset "UTF-8";
.rfBox {

}
.customLeft {
  margin: 20px;
  float: left;
  width: 70%;

}
.tbRow {
    overflow-x: auto;
    width: 100%;
}
.customRight {
  float: left;
  width: 25%;
  margin-top: 50px;
  overflow-x: auto;
}
.tBox {
    overflow-x: scroll;
}
.infoRow {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.dataArea {
    margin-bottom: 50px;
}
.rowItem {
    padding: 10px;
    border-bottom: 1px dashed #ddd;
    cursor: pointer;
}
.rowItem:last-child {
    border: 0
}
.hrow {
    padding-top: 15px;
}
.hitem {
    margin-right: 5px;
}
.inBoxCode {
    height: 200px;
    padding-right: 191px;
}
.codeTarget {
    position: absolute;
    top: 10px;
    right: 10px;
}
