@charset "UTF-8";
.paddingType {
      background-color: rgb(230, 230, 230);
      padding: 20px;
      padding-top: 0;
}

.customLeft {
  position: absolute;
  padding: 20px;
  left: 0px;
}
.customRight {
  width: 251px;
  position: absolute;
  right: 13px;
  margin-top: 50px;
}

.tBox {
  overflow-x: scroll;
}

.inRow {
  color: #0066cc;
  cursor: pointer;
}

.footerBar {
  text-align: right;
  width: 100%;
  position: fixed;
  padding: 10px;
  bottom: 0;
  right: 0;
  background-color: #e6e6e6;
  padding-right: 3%;
    z-index: 11;
}
.dataArea {
      margin-bottom: 50px;
}
.rowItem {
    padding: 10px;
    border-bottom: 1px dashed #ddd;
    cursor: pointer;
}
.rowItem:last-child {
  border: 0
}
