.aa span {
    background-color: red;
}
.fileDeal {}
.fileTarget {
    width: 65px;
    position: absolute;
    z-index: 1;
    left: -9px;
    opacity: 0;
}
.fileBox {
    display: inline-block;
}

.loading {
  font-weight: bold;
vertical-align: middle;
height: 30px;
display: inline-block;
line-height: 19px;
}
