.tablelist {
}
.tableBox {
  
}
.tablelist .price {text-align: right;}
.tablelist .desc {text-align: left;}
.tablelist .checkTag {
  display: inline-block;
  margin: 8px;
  vertical-align: middle;
}

.noresult {
  background-color: white;
  border: 1px solid #ddd;
  border-top: 0;
  text-align: center;
  color: #ccc;
  padding: 50px 0;
  font-size: 12px;
}
