@charset "UTF-8";
.tabBox {
}
.tabBar {}
.tabBar .active {
    background: white;
    border-bottom: 1px solid white;
}
.tabOne {
    margin-left: -1px;
    cursor: pointer;
    margin-bottom: -1px;
    z-index: 1
}
.tabArea {
    padding-top: 20px;
}
.smStyle {
    padding: 10px;
    color: #333;
}
/**主页主题**/
.indexTab {
  margin-top: 10px;
}
.indexTab .tabBar {
    border-bottom: 1px solid #c9e2f1;
    padding-left: 20px;
}
.indexTab .tabBar .tabOne {
    border: 1px solid #c9e2f1;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #eff6f9;
}

.indexTab .tabBar  .active {
  background-color: white;
  border-bottom: 1px solid white;
}
/**sale**/
.sale {
  margin: 0 20px;

}
.sale .tabBar {
}
.sale .tabBar .tabOne {
    border: 1px solid #c9e2f1;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background-color: #f2f2f2;
    background: -webkit-linear-gradient(white, #eff6f9);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(white, #eff6f9);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(white, #eff6f9);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(white, #eff6f9);
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=white, endColorStr=#eff6f9);
}
.sale .tabArea {
    border: 1px solid #c9e2f1;
    padding-bottom: 20px;
    background-color: white;
}
.sale .tabBar  .active {
  background: white;
  border-bottom: 1px solid white;
}
