@charset "UTF-8";
.formOne {
  display: inline-block;
  margin-top: 20px;
  width: 330px;
}

.formOne input {
  width: 200px;
}

.formOneTwo {
    width: 664px;
}

.formtarget {
    display: inline-block;
}

.errorMsg {
    position: absolute;
    left: 0;
    color: red;
}

.verticalitem {
  display: block;
margin-right: auto;
margin-left: auto;
}
.verticalitem:last-child {
  margin-bottom: 20px;
}
.labelDesc {
  display: inline-block;
  min-width: 110px;
  text-align: right;
}

.must {color: red;}

.casinput {
      vertical-align: middle;
          width: 173px;
}

.limitCombo {
  width: 200px;
}
