@charset "UTF-8";
.formOne {
    display: inline-block;
    margin-bottom: 20px;
    min-width: 330px;
}
.formOne input {
    width: 200px;
}
.formOneTwo {
    min-width: 664px;
}
.formtarget {
    display: inline-block;
    margin-top: -3px;
}
.errorMsg {
    position: absolute;
    left: 0;
    color: red;
    font-size: 12px;
}
.verticalitem {
    display: block;
    min-width: 330px;
    margin-right: auto;
    margin-left: auto;
}
.verticalitem:last-child {
    margin-bottom: 20px;
}
.labelDesc {
    display: inline-block;
    min-width: 120px;
    vertical-align: top;
    text-align: right;
}
.must {
    color: red;
}
.casinput {
    vertical-align: middle;
    width: 173px;
}
.casinputArr {
    vertical-align: middle;
    width: 173px;
    display: block;
    margin-top: 10px;
}
.casrowone {
    margin-bottom: 10px;
}
.casclosebtn {
  position: absolute;
  left: 212px;
  margin-top: -22px;
  cursor: pointer;
}
.limitCombo {
    width: 200px;
}
.arryBox {
  max-height: 200px;
  overflow-y: auto;
  margin-top: -3px;
}
.formOne .unitStay {
  padding-right: 30px;
  width: 170px;
}
.unit {
  font-size: 12px;
  font-style: italic;
  color: gray;
  position: absolute;
  display: inline-block;
  right: 0;
  top: 6px;
  text-align: right;
  padding-right: 10px;
}
.distance label {
    min-width: 1px;
}