
.propertyOne {
    margin-top: 20px;
}
.horizontal {
  margin-top: 0;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;

}
.horizontal .key {
    min-width: auto;
    font-weight: bold;
}
.form {
  margin-top: 20px;
  margin-right: 10px;
  width: 40%;
}
.form .key {
  font-weight: normal;
  min-width: 110px;
  text-align: left;
}
.horizontal .value {padding: 0;}

.rowform .key {
  text-align: right;
  font-weight: normal;
  min-width: 110px;
}
.rowform .value {
  min-width: 202px;
}
.key {
    display: inline-block;
    min-width: 110px;
    text-align: right;
}
