* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
span, a {
    display: inline-block;
    position: relative;
}
a {
    text-decoration: none;
    color: #0066cc;
    cursor: pointer;
}
div, p, ul, li {
    position: relative;
}
body {
    background: #f2f2f2;
    font-family: "Microsoft YaHei";
}
html, body {
    height: 100%;
}
input {
    border: 1px solid #ddd;
    height: 28px;
    color: #888;
    border-radius: 4px;
    position: relative;
    text-indent: 12px;
}
input:hover, input:focus {
    border: 1px solid #4a5b6d;
}
input:disabled, textarea:disabled {
    background-color: #f2f2f2;
}
table {
    background: white;
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
}
table thead {
    border-left: 1px solid #ddd;
}
table thead tr {
    background: -webkit-linear-gradient(white, #f2f2f2);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(white, #f2f2f2);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(white, #f2f2f2);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(white, #f2f2f2);
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=white, endColorStr=#f2f2f2);
    /*IE 6 7 8*/
    /* 标准的语法（必须放在最后） */
}
table thead th {
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    color: #333;
    height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}
table tbody td {
    color: #232323;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0 10px;
    line-height: 22px;
    border: 1px solid #ddd;
}
table tbody td span {
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-all;
}

/**全局样式**/


/**渐变**/

:global(.tipRow) {
    padding: 10px;
    color: red;
    font-size: 13px;
    margin-bottom: 15px;
}
:global(.tipRow *) {
    color: red;
}
:global(.tipRowSub) {
    margin-bottom: 10px
}
:global(.gradent) {
    background: -webkit-linear-gradient(white, #f2f2f2);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(white, #f2f2f2);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(white, #f2f2f2);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(white, #f2f2f2);
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=white, endColorStr=#f2f2f2);
    /*IE 6 7 8*/
}
:global(.upsu) {
    color: green;
    padding: 0 10px;
    text-align: center;
}
:global(.uptip) {
    font-style: italic;
    color: gray;
    font-size: 12px;
}

/**渐隐**/
:global(.fcolor) {color: #fe8f00;}
:global(.reback) {
    color: red;
}
:global(.common) {
    color: gray;
}
:global(.itemrow) {
    margin-right: 20px;
    color: gray;
    font-size: 13px;
}

/*:global(.fadeModal-enter) {
  opacity: 0;
}

:global(.fadeModal-leave) {
  opacity: 0;
}*/

:global(.fadeModal-enter .bounce) {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
:global(.fadeModal-leave .bounce) {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
:global(.app_header) {}
/*:global(.needpaddingnull) {
    padding: 20px 0;
}
:global(.needpadding) {
    padding: 20px;
    background-color: #e6e6e6;
}
:global(.needtop) {
    margin-top: 20px;
}*/
:global(.app_left_menus_box) {
    position: absolute;
    background-color: #3e4652;
    width: 200px;
    top: 0;
    z-index: 1;
    height: 100%;
}
:global(.app_container) {
    width: calc(100% - 200px);
    float: right;
}
:global(.app_container_in) {
    overflow-y: auto;
    position: absolute;
    width: 100%;
}
:global(.app_container .subTitle) {
    background-color: #eff6f9;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #c9e2f1;
}
:global(.app_container .subTitle .curTitle) {
    color: #fe8f00;
}
:global(.app_container .subTitle .subSplit) {
    width: 20px;
    text-align: center;
}
:global(.app_container .subTitle .backbtn) {
    cursor: pointer;
    width: 10px;
    text-align: center;
    margin-right: 8px;
    position: absolute;
    right: 20px;
}
:global(.app_container .subTitle .rightClose) {
    position: absolute;
    right: 254px;
    cursor: pointer;
}
:global(.app_footer) {
    background: #b9b9b9;
    color: white;
    text-align: center;
    line-height: 50px;
}
:global(.app_left_menus_box .v-link-active) {
    background: #fe8f00;
    color: white;
    border-left: 3px solid #ea5404;
}
:global(.app_left_menus_box .v-link-active *) {
    color: white;
}

/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    -webkit-border-radius: 4px;
    border: 2px solid #fff;
}

/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
    background-color: #4a5b6d;
    height: 50px;
    -webkit-border-radius: 4px;
}

/*---滚动条大小--*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
}
