.indexBox {
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
    background: white;
}
.rowOne {
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: pointer;
}
.tabone {}
.indexBox .operator {
    position: absolute;
    right: 0;
    top: 0px;
    letter-spacing: 15px;
    color: #c9e2f1;
}
.indexBox .opSpec {
    top: -53px;
    z-index: 1;
}
.inrow {
    cursor: pointer;
    margin: 0 4px;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.indexBox .operator span {
    cursor: pointer;
    color: #c9e2f1;
}
.indexBox .operator span:hover {
    color: #fe8f00;
}
.indexRight {
    float: left;
    width: 30%;
}
.indexLeft .levelBox {
    width: 97%;
}
.indexLeft {
    float: left;
    width: 70%;
}
.indexIn {
    padding: 0 20px;
}
.date {
    color: gray;
    position: absolute;
    right: 13px;
}
.headRow *{
    font-size: 16px;
    color: #fe8f00!important;
}
.headRow .titleOne {
  font-weight: bold;
  margin-left: 5px;
}
.indexPanel {
    background-color: white;
    margin-top: 20px;
    border: 1px solid #c9e2f1;
}
.pheader {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 2px solid #fe8f00;
}
.pcontent {}
.oneBox {}
.twoBox {padding-top: 20px;}
.threeBox {padding-top: 20px;}
.titleIn {
  margin-left: 10px;
}
