.indexBox {
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
}
.indexBox .levelBox {
  /*float: left;
  margin-left: 20px;
  width: 47%;*/
}

.indexBox .panelhalf {
    height: 400px;
}

.spcpanelhalf {
  height: 400px;
  padding: 20px 0;
}
.tabone {
      height: 365px;
}

.indexBox .panelall {
    height: 822px;
}

.indexBox .operator {
  position: absolute;
  right: 0;
  top: 0px;
  letter-spacing: 5px;
  color: gray;
}
.inrow {
  color: #0066cc;
  cursor: pointer;
  font-size: 13px;
  margin: 0 4px;
}
.indexBox .operator span {
  cursor: pointer;
}
.indexBox .operator span:hover {
  color: #333;
}

.indexRight {
  float: left;
  width: 50%;
}
.indexLeft .levelBox {
  width: 97%;
}
.indexLeft {
  float: left;
  width: 50%;
}

.indexIn {
    padding: 0 20px;
}
.date {
  font-size: 13px;
color: gray;
position: absolute;
right: 13px;
}

.listOne {
  border: 1px solid #ddd;
  padding: 10px 0;
  width: 90%;
  margin: 0 auto;
  padding-left: 10px;
  color: #333;
  margin-bottom: 6px;
  font-size: 13px;
}
