.indexBox *{

}
.indexBox .levelBox {
  float: left;
  margin-left: 1.5%;
  width: 48%;
}

.indexBox .panelhalf {
    height: 400px;
}

.indexBox .panelall {
    height: 822px;
}

.indexBox .operator {
  position: absolute;
  right: 0;
  top: 0px;
  letter-spacing: 5px;
  color: gray;
}

.indexBox .operator span {
  cursor: pointer;
}
.indexBox .operator span:hover {
  color: #333;
}
